html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  text-decoration: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.homeWrapper {
  position: relative;
  width: 100vw;
  height: 80vh;
  padding: 0px 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 50px;
}

.homeWrapper::before {
  content: "";
  position: absolute;
  height: 1px;
  left: 100px;
  right: 100px;
  top: calc(60%);
  background: #000000;
}

.indexHeader {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  margin: 67px 0 0 0;
}

.indexHeader h1 {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.triloader {
  float: right;
  margin: -37px -45px 15px 20px;
}

.indexNavigation {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 7;
  -ms-grid-row: 6;
      grid-row-start: 6;
  margin: 20em 0 0 0;
  list-style: none;
  font-size: 5px;
}

.indexNavigation li {
  margin-top: 14px;
}

.indexNavigation li a {
  font-size: 1.14rem;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

.indexNavigation li a:link {
  text-decoration: none;
}

.indexNavigation li a:visited {
  text-decoration: none;
}

.projectsWrapper {
  display: -ms-grid;
  display: grid;
  width: 70%;
  margin: 114px 100px 100px 200px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  border-top: 0px solid black;
  border-left: 0px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1500px) {
  .projectsWrapper {
    max-width: 1300px;
    margin: 114px auto 100px auto;
  }
}

.projectsWrapper a {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #000000;
  text-decoration: none;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.projectsWrapper a h3, .projectsWrapper a small {
  position: relative;
  z-index: 3;
  margin: 0;
  padding: .5rem 0 0 0;
}

.projectsWrapper a:link {
  background: white;
}

@media screen and (max-width: 1000px) {
  .projectsWrapper {
    margin: 114px 1rem 1rem 1rem;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 475px) {
  .projectsWrapper {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.journalWrapper {
  display: -ms-grid;
  display: grid;
  width: 70%;
  margin: 114px 100px 100px 200px;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  border-top: 1px solid black;
  border-left: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 5rem;
}

@media screen and (min-width: 1500px) {
  .journalWrapper {
    max-width: 1300px;
    margin: 114px auto 100px auto;
  }
}

.journalWrapper a {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #000000;
  text-decoration: none;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.journalWrapper a h3, .journalWrapper a small {
  position: relative;
  z-index: 3;
  margin: 0;
  padding: .5rem 0 0 0;
}

.journalWrapper a:link {
  background: white;
}

@media screen and (max-width: 1000px) {
  .journalWrapper {
    margin: 114px 1rem 1rem 1rem;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 475px) {
  .journalWrapper {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.catalogue {
  margin-left: 20em;
  margin-top: 5em;
  margin-right: 20em;
}

.catalogue-item {
  border-bottom: 1px solid #e5e5e5;
  color: #555;
  display: block;
  padding: 2rem 0;
}

.catalogue-item:hover .catalogue-line,
.catalogue-item:focus .catalogue-line {
  width: 5rem;
}

.catalogue-item:last-child {
  border: 0;
}

.catalogue-time {
  color: #2F4F4F;
  font-family: "Palatino", "Palatino LT STD", "Palatino Linotype", "Book Antiqua", "Georgia", serif;
  letter-spacing: .5px;
}

.catalogue-title {
  color: #353535;
  display: block;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: .5rem 0;
}

.catalogue-line {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-top: 0.2rem solid #353535;
  display: block;
  width: 2rem;
}

footer {
  width: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 100px 8px 100px;
  background: #fff;
  z-index: 100;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1500px;
  margin: auto;
}

nav .navToggle {
  display: none;
}

nav::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 100px;
  right: 100px;
  top: auto;
  height: 1px;
  background-color: #000000;
  z-index: 101;
}

nav a.navTitleWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  white-space: nowrap;
  text-decoration: none;
  color: #000000;
}

nav a.navTitleWrapper .navTitle, nav a.navTitleWrapper .navTagline {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

nav a.navTitleWrapper .navTitle {
  margin-right: 1rem;
}

nav a.navTitleWrapper .navTagline {
  font-weight: 300;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  margin: 0 0 0 1rem;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000000;
  text-decoration: underline;
}

nav ul li:first-of-type {
  margin: 0;
}

@media screen and (max-width: 1000px) {
  nav {
    padding: 0 1rem 8px 1rem;
  }
  nav::before {
    left: 1rem;
    right: 1rem;
  }
}

@media screen and (max-width: 875px) {
  a.navTitleWrapper .navTagline {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  nav {
    padding: 2rem 1rem 8px 1rem;
    height: auto;
    overflow: hidden;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav .navToggle {
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
  nav .navToggle svg {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  nav .navToggle svg.navClose {
    display: none;
  }
  nav ul {
    position: absolute;
    top: 96px;
    left: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav ul li {
    margin: 0 0 1rem 0;
  }
  nav ul li:first-of-type {
    margin: 0 0 1rem 0;
  }
  nav ul li:last-of-type {
    margin: 0;
  }
  html.nav-open nav {
    height: 196px;
  }
  html.nav-open nav .navToggle svg.navClose {
    display: block;
  }
  html.nav-open nav .navToggle svg.navMenu {
    display: none;
  }
}

.paginator {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator a.paginatorBack:hover, .paginator a.paginatorNext:hover {
  opacity: 0.75;
}

.paginator a.paginatorBack svg, .paginator a.paginatorNext svg {
  height: 24px;
  width: 24px;
}

svg.tea {
  --secondary: black;
  margin-left: -5px;
}

svg.tea #teabag {
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
  -webkit-animation: swing 2s infinite;
          animation: swing 2s infinite;
}

svg.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  -webkit-animation: steamLarge 2s infinite;
          animation: steamLarge 2s infinite;
}

svg.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  -webkit-animation: steamSmall 2s infinite;
          animation: steamSmall 2s infinite;
}

@-webkit-keyframes swing {
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@keyframes swing {
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
}

@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

.loader {
  --path: #2F3545;
  --dot: #5628EE;
  --duration: 3s;
  width: 35px;
  height: 35px;
  position: relative;
}

.loader:before {
  content: '';
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 18px;
  left: 11px;
  -webkit-transform: translate(-18px, -18px);
          transform: translate(-18px, -18px);
  -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 70%;
  height: 70%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 4px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  -webkit-animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  -webkit-animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  -webkit-transform: translate(-10px, -18px);
          transform: translate(-10px, -18px);
  -webkit-animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@-webkit-keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }
  66% {
    stroke-dashoffset: 147;
  }
  100% {
    stroke-dashoffset: 221;
  }
}

@-webkit-keyframes dotTriangle {
  33% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  66% {
    -webkit-transform: translate(10px, -18px);
            transform: translate(10px, -18px);
  }
  100% {
    -webkit-transform: translate(-10px, -18px);
            transform: translate(-10px, -18px);
  }
}

@keyframes dotTriangle {
  33% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  66% {
    -webkit-transform: translate(10px, -18px);
            transform: translate(10px, -18px);
  }
  100% {
    -webkit-transform: translate(-10px, -18px);
            transform: translate(-10px, -18px);
  }
}

@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}

@-webkit-keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
            transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
            transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
            transform: translate(-18px, -18px);
  }
}

@keyframes dotRect {
  25% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(18px, -18px);
            transform: translate(18px, -18px);
  }
  75% {
    -webkit-transform: translate(0, -36px);
            transform: translate(0, -36px);
  }
  100% {
    -webkit-transform: translate(-18px, -18px);
            transform: translate(-18px, -18px);
  }
}

@-webkit-keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}

.loader {
  display: inline-block;
  margin: -3px 0px;
}

html {
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */